/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'century gothic', sans-serif;
  color: white;
  background-color: #f5e998;
}
content {color: white;
       font-family: didot;
       font-size: 40px;
      font-weight: 3500;
      line-height: 24px;}
banner{
  background-color: #f5e998;
  background-image: url("AMELIA WOOD.png")
  background-position: top left;
	background-repeat: repeat;
		background-size: auto,cover;
		color: #fff;
		padding: 12em 0 20em 0;
		text-align: left-align;}
  
  footer {
		background: #f0f0f0;
		padding: 4em 0 6em 0;
		text-align: left-align;
	}
main-nav {
	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
} 

li a {
  display: block;
}
}







