/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
body {
  background-color: #f5e998;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #f5e998;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f4e68b;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f1e174;
  color: white;
}

    
/* Add a background color to the icon bar */
.icon-bar {
  background-color: #f5e998;
  overflow: hidden;
}

/* Style the links inside the icon bar */
.icon-bar a {
  float: left;
  color: white;
  text-align: bottom;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.icon-bar a:hover {
  background-color: #f4e68b;
  color: white;
}

/* Add a color to the active/current link */
.icon-bar a.active {
  background-color: #f1e174;
  color: white;
}
}
/* embed font */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



